/* Common styles for both desktop and mobile */
.header-container {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 10px; /* 필요에 따라 여백 조절 */
}

.history {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 10px; /* 필요에 따라 여백 조절 */
}
