.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
  }
  
  .output {
    position: fixed;
    top: 10%;
    width: 70%;
    max-height: 70vh;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
}

  .input-box {
    position: fixed;
    bottom: 5%;
    width: 70%;
    height: 4%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .output-label {
    width: 100px;
    display: inline-block;
  }
  